@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply py-10 md:py-20
    }

    .section-car {
        @apply pt-[22vw] pb-[11vw] md:pt-[120px] md:pb-[0]
    }
    .section-item-space {
        @apply space-y-6 md:space-y-12
    }
    .section-item-children-space {
        @apply space-y-4 md:space-y-8
    }

    .container-content {
        @apply md:px-[3%] lg:px-[5%] xl:px-[10%]
    }
}
section {
    overflow: hidden;
}


.font {
  font-family:  li-medium,Microsoft YaHei,SF Pro SC,SF Pro Display,PingFang SC,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif
}

.swiper-pagination-bullet {
    height: 10px !important;
    width: 10px !important;
    background-color: #ccc !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 10px !important;
    width: 10px !important;
    background-color: #dbad76 !important;
}


/* TABS CARUSELL */

.mySwiperTab .swiper-slide-thumb-active {
    border-bottom: #dbad76 2px solid !important;
    color: black  !important;
  }
  .mySwiperTab .swiper-slide{
    display: flex !important;
    padding: 20px 0 !important;
  }
  .mySwiperTab .swiper-wrapper::-webkit-scrollbar{
    display: none !important;
  }
  .mySwiperSlides .swiper-wrapper{
    height: 100% !important;
  }
  .mySwiperSlides .swiper-slide{
    height: 100% !important;
  }


  /* /gradien */
  .gradient-text{
    display: block;
    color: transparent;
    background: linear-gradient(90deg, #5A2CA8 , #A63EA1);
    -webkit-background-clip: text;

  }